.training {
  width: 100%;
  margin: 2.75rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.training .btn {
  font-size: 1.5rem;
}

.training .left {
  text-align: center;
  margin: auto;
  padding: 1.1rem 3.9rem;
  max-width: 37.5rem;
}

.training .left h1 {
  font-size: 2.5rem;
}

.training .left p {
  margin: 1.3rem 0;
  font-size: 1.2rem;
}

.training .right {
  width: 100%;
}

.right .img-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  align-items: center;
  text-align: center;
}

.right .img {
  max-width: 65%;
  border: 1.2px solid #333;
}

.right .top {
  grid-column: 1 / span 8;
  grid-row: 1;
  padding: 10%;
  z-index: 8;
}

.right .bottom {
  grid-column: 4 / -1;
  grid-row: 1;
  z-index: 7;
}

@media screen and (max-width: 1140px) {
  .training {
    grid-template-columns: 1fr;
  }
  .training .img {
    max-width: 80%;
  }
}
