#video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.main {
  height: 100vh;
  width: 100%;
  object-fit: contain;
}

.main .content {
  text-align: center;
  position: absolute;
  margin: auto;

  width: 100%;
  height: 100%;
  top: 39vh;
}

.main .content h1 {
  font-size: 4.25rem;
  color: white;
}

.main p {
  font-size: 2rem;
  font-weight: 225;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  color: white;
}
